<div class="card border-light animated fadeIn">
    <img [src]=" producto.img " class="card-img-top rounded img-fluid " [alt]="producto.producto">
    <div class="card-body ">
        <h5 class="card-title ">{{ producto.producto }}
        </h5>
        <p class="card-text ">{{ producto.clase }}<br>{{ producto.marca }} <br>{{ producto.tipo }} <br>{{ producto.medida }}
        </p>

        <div class="text-center">
            <h5>{{ producto.precio |currency:'PEN' }}</h5>
        </div>
        <button (click)="verProducto()" type="button " class="btn btn-outline-success btn-block ">
            Ver más...
            </button>
    </div>
</div>